#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mgss {
  position: relative;
  border-radius: 30px;
}
.eng{
  margin-left: -630px;
  margin-top: 30px;
  font-size: 40px;
  z-index: 100;
}
.h{
  position: absolute;
  margin-left: 685px;
  font-size: 45px;
  margin-top: 35px;
}
.tx{
  margin-left: 160px;
  width: 430px;
}